<div class="container-fluid hero scroll_section">
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia_1.jpg" alt="historia 1" class="img-fliud">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia_2.jpg" alt="historia 2" class="img-fliud">
        </div>
        <div class="col-12 d-sm-none">
            <img src="images/historia_3.jpg" alt="historia 3" class="img-fliud">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>HISTORIA</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur veniam cum asperiores. Facere,
                accusantium? Quia, repellendus fugiat? Placeat, minima. Praesentium eos sed ea fugiat reiciendis
                reprehenderit aliquam commodi totam!</p>
        </div>
    </div>
</div>