<div class="container-fluid hero">
    <div class="row">
        <div id="novedades" class="col-md-5 offset-md-2 py-3">
            <h2>Instrumentos</h2>
            <ul class="lista-instrumentos">
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#guitarra">
                        <img src="images/guitarra.jpg"> GUITARRA
                        <div class="modal fade" id="guitarra" tabindex="-1" aria-labelledby="guitarraLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="guitarraLabel">Guitarras</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Origen: Asia menor</h3>
                                        <p>La guitarra es un instrumento musical de cuerda pulsada, compuesto de una
                                            caja de madera, un mástil sobre el que va adosado el diapasón o trastero
                                            —generalmente con un agujero acústico en el centro de la tapa (boca)—, y
                                            seis cuerdas. Sobre el diapasón van incrustados los trastes, que permiten
                                            las diferentes notas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#charango">
                        <img src="images/charango.jpg"> CHARANGO
                        <div class="modal fade" id="charango" tabindex="-1" aria-labelledby="charangoLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="charangoLabel">Charangos</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Origen: Zonas andinas</h3>
                                        <p>Instrumento musical de cinco pares de cuerdas. Tiene el aspecto de una
                                            guitarra pequeña, con la caja de resonancia hecha en caparazón de
                                            quirquincho o en madera y el mango en madera. Su ejecución se hace casi
                                            exclusivamente con las puntas de los dedos o las uñas y requiere de bastante
                                            destreza.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#mandolina">
                        <img src="images/mandolina.jpg"> MANDOLINA
                        <div class="modal fade" id="mandolina" tabindex="-1" aria-labelledby="mandolinaLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="mandolinaLabel">Mandolina</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Origen: Italia</h3>
                                        <p>La mandolina es un instrumento de cuerda de cuatro órdenes dobles de cuerdas.
                                            El número y tipo de cuerdas de la mandolina ha variado con el tiempo y el
                                            lugar, pero en la actualidad la configuración predominante es la de la
                                            mandolina napolitana, con cuatro cuerdas dobles afinadas como el violín.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">TESTIMONIOS DE CLIENTES</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>"Muy buen sonido!!"</h5>
                                <p>Marcelo, Laferrere</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"Demasiado comoda de usar"</h5>
                                <p>Mateo, Jose C. Paz</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"Se nota la calidad del instrumento"</h5>
                                <p>Johanna, San Telmo</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>