<div class="container-fluid">
    <div id="nosotros" class="row align-items-stretch hero py-4">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros01.jpg" class="card-img-top" alt="Mateo Quinteros">
                        <div class="card-body">
                            <h5 class="card-title">Mateo Quinteros</h5>
                            <p class="card-text" style="color:black">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Tempora ullam enim ad incidunt sed, eaque, reprehenderit voluptatem impedit
                                deserunt aut maxime, facilis officia quo doloremque? Deserunt provident nostrum esse
                                veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros02.jpg" class="card-img-top" alt="Marcelo Quinteros">
                        <div class="card-body">
                            <h5 class="card-title">Marcelo Quinteros</h5>
                            <p class="card-text" style="color:black">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Tempora ullam enim ad incidunt sed, eaque, reprehenderit voluptatem impedit
                                deserunt aut maxime, facilis officia quo doloremque? Deserunt provident nostrum esse
                                veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros03.jpg" class="card-img-top" alt="Enzo Quinteros">
                        <div class="card-body">
                            <h5 class="card-title">Enzo Quinteros</h5>
                            <p class="card-text" style="color:black">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Tempora ullam enim ad incidunt sed, eaque, reprehenderit voluptatem impedit
                                deserunt aut maxime, facilis officia quo doloremque? Deserunt provident nostrum esse
                                veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>